@import "nationtv-font.css";
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.gap-bottom-30 {
  margin-bottom: 30;
}
.gap-row-top {
  margin-top: 30px;
}
.gap-row-bottom {
  margin-bottom: 30px;
}
.gap-row-vert {
  margin-top: 30px;
  margin-bottom: 30px;
}
.gap-inner-top {
  margin-top: 10px;
}
.gap-inner-bottom {
  margin-bottom: 10px;
}
.rel {
  position: relative;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes blinker{0% { opacity: 1; } 5% { opacity: 0; } 10% { opacity: 1; } 15% { opacity: 0; } 20% { opacity: 1; } 100% { opacity: 1; }}
@-moz-keyframes blinker{0% { opacity: 1; } 5% { opacity: 0; } 10% { opacity: 1; } 15% { opacity: 0; } 20% { opacity: 1; } 100% { opacity: 1; }}
@-o-keyframes blinker{0% { opacity: 1; } 5% { opacity: 0; } 10% { opacity: 1; } 15% { opacity: 0; } 20% { opacity: 1; } 100% { opacity: 1; }}
@keyframes blinker{0% { opacity: 1; } 5% { opacity: 0; } 10% { opacity: 1; } 15% { opacity: 0; } 20% { opacity: 1; } 100% { opacity: 1; };
}
.inline-block {
  display: inline-block;
}
.no-list-style {
  list-style: none none outside;
  padding: 0;
  margin: 0;
}
.round {
  -webkit-border-radius: 1000px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1000px;
  -moz-background-clip: padding;
  border-radius: 1000px;
  background-clip: padding-box;
}
.radius {
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
}
.border-section {
  border-top: 4px solid #2f4590;
  display: block;
  padding-top: 15px;
}
.bordered-block {
  border: 2px solid #eeeeee;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .bordered-block {
    border: 2px solid #ffffff;
  }
}
@media screen and (min-width: 992px) {
  .bordered-block {
    padding: 3px;
  }
}
.bg-brand {
  background-color: #2f4590;
}
.bg-primary {
  background-color: #22336a;
}
.bg-secondary {
  background-color: #eaedf8;
}
.bg-light {
  background-color: #ffffff;
}
.slider-change-bullet-color .lSSlideOuter .lSPager.lSpg > li a {
  background-color: #a5a5a5;
}
.slider-change-bullet-color .lSSlideOuter .lSPager.lSpg > li.active a,
.slider-change-bullet-color .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #2f4590;
}
#nation-nav-theme .cd-main-header {
  background: #2f4590;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#nation-nav-theme .cd-main-header.nav-is-visible .cd-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .cd-main-header {
    height: 120px;
    padding: 0;
  }
}
#nation-nav-theme .cd-header-buttons {
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  right: 0;
  height: 1px;
}
#nation-nav-theme .cd-nav-trigger {
  position: absolute;
  left: 15px;
  width: 35px;
}
#nation-nav-theme .cd-nav-trigger span,
#nation-nav-theme .cd-nav-trigger span::before,
#nation-nav-theme .cd-nav-trigger span::after {
  background: #ffffff;
}
#nation-nav-theme .cd-nav-trigger.nav-is-visible span {
  background: rgba(255, 255, 255, 0);
}
#nation-nav-theme .cd-nav-trigger,
#nation-nav-theme .cd-search-trigger {
  height: 55px;
}
#nation-nav-theme .cd-primary-nav {
  background: #22336a;
  padding: 0;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .cd-primary-nav {
    position: relative;
    background: #d5dae9;
    left: 0;
    float: none;
    margin-left: 120px;
    height: 120px;
    z-index: 10;
  }
}
#nation-nav-theme .btn__play {
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  -o-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: -webkit-transform 1s ease-in;
  -moz-transition: -moz-transform 1s ease-in;
  -o-transition: -o-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in,-moz-transform 1s ease-in,-o-transform 1s ease-in,transform 1s ease-in;
  display: none;
  position: relative;
  top: -3px;
  padding: 15px 17px;
  color: #ffffff;
  background-color: #22336a;
  font-size: 30px;
}
#nation-nav-theme.shrink .btn__play {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  display: block;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme.shrink .btn__play {
    display: none;
  }
}
#nation-nav-theme .logo__container.\--topbar {
  display: block;
  width: 50px;
  height: 50px;
  left: 60px;
  top: 50%;
  margin-top: -25px;
  background: url(../images/logo-nation-radio-small.png) no-repeat center / contain;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .logo__container.\--topbar {
    width: 85px;
    height: 100px;
    margin: 0 15px;
    left: 0;
    top: 0;
    background: url(../images/logo-nation-radio-large.png) no-repeat center / contain;
  }
}
#nation-nav-theme .logo__container.\--sidebar {
  width: 100%;
  height: 170px;
  padding: 33px 0;
  background: #2f4590;
}
#nation-nav-theme .logo.\--sidebar {
  display: inline-block;
  width: 80px;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .menu__item {
    margin-left: 10px;
  }
}
@media screen and (min-width: 900px) {
  #nation-nav-theme .menu__item {
    margin-left: 25px;
  }
}
#nation-nav-theme .menu__link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #2f4590;
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
#nation-nav-theme .menu__link:hover {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .menu__link {
    color: rgba(47, 69, 144, 0.8);
    border-bottom: none;
    letter-spacing: 1px;
    height: 60px;
    line-height: normal;
    margin-top: 60px;
    padding: 16px 10px;
  }
  #nation-nav-theme .menu__link:hover,
  #nation-nav-theme .menu__link:active,
  #nation-nav-theme .menu__link:visited,
  #nation-nav-theme .menu__link:focus {
    font-weight: 700;
    color: #22336a;
    text-decoration: none;
  }
}
#nation-nav-theme .menu__text {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}
#nation-nav-theme .menu__text.\--date {
  position: absolute;
  top: 15px;
  right: 20px;
}
#nation-nav-theme .search-xs-container {
  position: fixed;
}
#nation-nav-theme .search-sm-container {
  position: absolute;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .search-sm-container {
    top: 68px;
    left: 130px;
    right: 15px;
    width: auto;
    max-width: 880px;
    height: 37px;
  }
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .search__input {
    width: 100%;
    padding: 6px 40px 6px 20px;
    font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-border-radius: 1000px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 1000px;
    -moz-background-clip: padding;
    border-radius: 1000px;
    background-clip: padding-box;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.4s cubic-bezier(0, 0.795, 0, 1);
    -moz-transition: opacity 0.4s cubic-bezier(0, 0.795, 0, 1);
    -o-transition: opacity 0.4s cubic-bezier(0, 0.795, 0, 1);
    transition: opacity 0.4s cubic-bezier(0, 0.795, 0, 1);
    position: relative;
    z-index: 9;
  }
  #nation-nav-theme .search__input:focus {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
#nation-nav-theme .search-icon:before {
  border-color: #6c7fd7;
  top: 15px;
}
#nation-nav-theme .search-icon:after {
  background: #6c7fd7;
  bottom: 21px;
}
#nation-nav-theme .search-icon:hover:before {
  border-color: #19265e;
}
#nation-nav-theme .search-icon:hover:after {
  background: #19265e;
}
#nation-nav-theme .search-icon span:before,
#nation-nav-theme .search-icon span:after {
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .search-icon {
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: 15;
  }
  #nation-nav-theme .search-icon span::before,
  #nation-nav-theme .search-icon span::after {
    background: #243686;
  }
}
#nation-nav-theme .search-xs-icon {
  margin-top: 3px;
}
#nation-nav-theme .search-is-visible + .search__input {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 12;
}
#nation-nav-theme .social__wrap {
  text-align: center;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .social__wrap {
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
    background-color: #22336a;
  }
  #nation-nav-theme .social__wrap:before {
    content: "Follow Us : ";
    font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    position: relative;
    top: -5px;
  }
}
#nation-nav-theme .social__icon {
  display: inline-block;
  font-size: 25px;
  padding: 0 5px 0 0;
  color: rgba(247, 247, 247, 0.5);
}
#nation-nav-theme .social__icon:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  #nation-nav-theme .social__icon {
    height: auto;
    line-height: 1;
    padding: 12px 0 12px 5px;
  }
}
#nation-nav-theme .cd-overlay {
  background: none;
}
.shrink .cd-main-header {
  position: fixed;
}
.shrink .main__container {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .shrink .main__container {
    padding-top: 120px;
  }
}
@media screen and (min-width: 768px) {
  #nation-radio-theme {
    background-color: #ececec;
  }
}
.section-container {
  margin-top: 30px;
}
.section-sm-bg {
  background-color: #ffffff;
}
.section-max-xs {
  max-width: 480px;
  margin: 0 auto 15px;
}
@media screen and (min-width: 768px) {
  .section-max-xs {
    max-width: none;
  }
}
.main__container {
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .main__container {
    background: none;
  }
}
@media screen and (min-width: 768px) {
  .section-equal-bg {
    background-color: #ffffff;
    position: relative;
  }
  .section-equal-bg:before {
    content: "";
    display: block !important;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 58.33333333%;
    width: 41.66666667%;
    height: 100%;
    border-left: 15px solid #ececec;
    background-color: #ffffff;
  }
}
.head__group.\--section-more:before,
.head__group.\--section-more:after {
  display: table;
  content: " ";
}
.head__group.\--section-more:after {
  clear: both;
}
.head__group.\--section-more .head.\--section {
  float: left;
}
.head__group.\--section-more .head.\--more {
  float: right;
  margin-top: 24px;
}
.layout__container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.layout__container.\--main {
  background-color: #ececec;
}
@media screen and (min-width: 768px) {
  .layout__container.\--main {
    padding-top: 120px;
  }
}
.layout__container.\--main .container {
  margin: 0;
}
.layout__group {
  padding: 0 15px;
}
.footer__wrap {
  color: #ffffff;
}
.footer__wrap.\--top {
  background-color: #2f4590;
  padding: 30px 0 40px;
}
.footer__wrap.\--bottom {
  background-color: #22336a;
  padding: 10px 0;
  position: relative;
}
.footer__wrap.\--link {
  text-align: center;
  position: absolute;
  top: -40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__wrap.\--link {
    text-align: left;
    top: 18px;
    right: 15px;
    width: auto;
  }
}
.footer__wrap.\--social {
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__wrap.\--social {
    text-align: right;
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  #nation-radio-theme .footer__wrap.\--social .social__icon {
    padding: 3px 0 0 5px;
  }
}
.footer__select {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}
.footer__select .select__wrap {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__select {
    text-align: left;
    margin-left: 50px;
  }
}
.footer__address {
  text-align: center;
  margin-bottom: 0;
  font-size: 12px !important;
}
@media screen and (min-width: 768px) {
  .footer__address {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  #nation-radio-theme .footer__address {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 767px) {
  .static .radio__container {
    display: none;
  }
}
.ads-top-menu {
  padding: 15px 0;
}
.ads-top,
.ads-bottom {
  max-width: 315px;
}
a[rel="nofollow"] {
  text-decoration: none;
}
a[rel="nofollow"]:hover,
a[rel="nofollow"]:focus,
a[rel="nofollow"]:active {
  text-decoration: underline;
}
.head {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  letter-spacing: 1px;
}
.head.\--section {
  font-size: 24px;
  font-weight: 700;
  color: #2f4590;
  margin-top: 13px;
}
.head.\--more {
  font-size: 12px;
  font-weight: 700;
  color: #2f4590;
  font-style: italic;
}
.head.\--host {
  font-size: 12px;
  font-weight: 700;
  color: #a5a5a5;
}
.head.\--caption {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 0;
}
.head.\--link-footer {
  font-weight: 400;
  color: #f5f7fc;
}
.head.\--tab {
  font-size: 12px;
}
.head.\--link-footer {
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .head.\--link-footer {
    font-size: 14px;
  }
}
.head.\--link-primary {
  color: inherit;
}
.head.\--link-primary:hover,
.head.\--link-primary:active,
.head.\--link-primary:focus {
  text-decoration: underline;
  color: #2f4590;
}
.head.\--link-secondary {
  color: inherit;
}
.head.\--link-secondary:hover,
.head.\--link-secondary:active,
.head.\--link-secondary:focus {
  text-decoration: underline;
  color: #f6b300;
}
.head.\--large {
  font-size: 24px;
  font-weight: 400;
  color: #404041;
}
.head.\--static {
  font-size: 14px;
  font-weight: 400;
  color: #404041;
}
.head.\--topic {
  font-size: 14px;
  font-weight: 700;
  color: #2f4590;
}
.head.\--share {
  font-size: 24px;
  font-weight: 700;
  color: #a5a5a5;
  display: inline-block;
  margin-right: 5px;
}
.content {
  font-family: Tahoma, Arial, sans-serif;
}
.content.\--hilight {
  font-weight: 700;
  font-size: 18px;
  color: #2f4590;
  line-height: 1.3;
  margin-top: 0;
}
.content.\--hilight-detail {
  font-size: 14px;
  color: #404041;
}
.content.\--headline {
  font-size: 12px;
  color: #404041;
}
.content.\--head {
  font-weight: 700;
  font-size: 14px;
  color: #2f4590;
}
.content.\--date {
  font-size: 12px;
  color: #a7a8aa;
}
input,
textarea,
button,
select {
  outline: none;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}
.label-wrap {
  display: block;
  width: 26%;
  float: left;
}
.input-wrap {
  display: block;
  width: 74%;
  float: left;
}
.button-wrap {
  display: block;
  padding-left: 26%;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #9b9b9b;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.input__search {
  width: 100px;
  -webkit-border-radius: 1000px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1000px;
  -moz-background-clip: padding;
  border-radius: 1000px;
  background-clip: padding-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.input__search:focus {
  width: 150px;
}
.input__icon.\--search {
  font-size: 16px;
  color: #9b9b9b;
  line-height: 34px;
}
.input-font {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: #404041;
}
.text__label {
  padding: 4px 10px;
  line-height: 26px;
  font-size: 13px;
  margin-bottom: 0;
}
.theme-input-primary {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #999999;
}
.theme-input-primary:hover {
  border: 1px solid #2f4590;
}
.theme-input-primary:focus,
.theme-input-primary:active,
.theme-input-primary.active {
  border: 1px solid #2f4590;
}
.theme-input-primary:disabled,
.theme-input-primary.disabled {
  border: 1px solid #f75b4b;
}
.theme-input-primary:hover {
  background-color: #ffffff;
}
.theme-input-primary:focus,
.theme-input-primary:active,
.theme-input-primary.active {
  background-color: #ffffff;
}
.theme-input-primary:disabled,
.theme-input-primary.disabled {
  background-color: #eeeeee;
}
.theme-input-primary:hover {
  color: #999999;
}
.theme-input-primary:focus,
.theme-input-primary:active,
.theme-input-primary.active {
  color: #333333;
}
.theme-input-primary:disabled,
.theme-input-primary.disabled {
  color: #333333;
}
.input-border-primary,
.input.\--primary {
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #999999;
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: #404041;
}
.input-border-primary:hover {
  border: 1px solid #2f4590;
}
.input-border-primary:focus,
.input-border-primary:active,
.input-border-primary.active {
  border: 1px solid #2f4590;
}
.input-border-primary:disabled,
.input-border-primary.disabled {
  border: 1px solid #f75b4b;
}
.input-border-primary:hover {
  background-color: #ffffff;
}
.input-border-primary:focus,
.input-border-primary:active,
.input-border-primary.active {
  background-color: #ffffff;
}
.input-border-primary:disabled,
.input-border-primary.disabled {
  background-color: #eeeeee;
}
.input-border-primary:hover {
  color: #999999;
}
.input-border-primary:focus,
.input-border-primary:active,
.input-border-primary.active {
  color: #333333;
}
.input-border-primary:disabled,
.input-border-primary.disabled {
  color: #333333;
}
.input {
  display: inline-block;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.input__wrap.\--icon {
  position: relative;
}
.input__text {
  height: 34px;
  width: 100%;
}
.input__textarea {
  height: 80px;
  width: 100%;
}
.input__icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  text-align: center;
}
.input.\--primary {
  padding: 4px 10px;
  margin: 0;
}
.no-textarea-style {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #ffffff;
  color: #999999;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  overflow: auto;
}
.no-textarea-style:hover,
.no-textarea-style:focus,
.no-textarea-style:active,
.no-textarea-style.active,
.no-textarea-style:disabled,
.no-textarea-style.disabled {
  border: 1px solid rgba(255, 255, 255, 0);
}
.no-textarea-style:hover {
  background-color: #ffffff;
}
.no-textarea-style:focus,
.no-textarea-style:active,
.no-textarea-style.active {
  background-color: #ffffff;
}
.no-textarea-style:disabled,
.no-textarea-style.disabled {
  background-color: #eeeeee;
}
.no-textarea-style:hover {
  color: #999999;
}
.no-textarea-style:focus,
.no-textarea-style:active,
.no-textarea-style.active {
  color: #333333;
}
.no-textarea-style:disabled,
.no-textarea-style.disabled {
  color: #333333;
}
input[type=radio],
input[type=checkbox] {
  display: none;
}
.input__radio,
.input__checkbox {
  display: inline-block;
  cursor: pointer;
}
.input__radio:before,
.input__checkbox:before {
  font-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
}
.input__radio:before {
  content: "\f3a6";
  display: inline-block;
  font-family: "Ionicons", Tahoma, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
input[type=radio]:checked + .input__radio:before {
  content: "\f3a7";
  display: inline-block;
  font-family: "Ionicons", Tahoma, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.input__checkbox:before {
  content: "\f372";
  display: inline-block;
  font-family: "Ionicons", Tahoma, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
input[type=checkbox]:checked + .input__checkbox:before {
  content: "\f374";
  display: inline-block;
  font-family: "Ionicons", Tahoma, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.input--primary {
  color: #eeeeee;
}
.input--primary:hover:before {
  color: #2f4590;
}
.input--primary:focus:before,
.input--primary:active:before,
.input--primary.active:before {
  color: #4e61a1;
}
.input--primary:disabled:before,
.input--primary.disabled:before {
  color: #f75b4b;
}
input[type=radio]:checked + .input--primary:before,
input[type=checkbox]:checked + .input--primary:before {
  color: #2f4590;
}
.breaking-news {
  margin: 15px 0;
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.05em;
  -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear,-moz-transform 0.5s linear,-o-transform 0.5s linear,transform 0.5s linear;
  position: relative;
}
.breaking-news:before {
  background-color: #ffffff;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: -1;
}
.breaking-news + .cd-main-header,
.breaking-news + .cd-main-header + .cd-search + .cd-main-content + .cd-nav > .cd-primary-nav {
  top: 30px;
}
.breaking-news + .cd-main-header + .cd-search + .cd-main-content + .cd-nav + .cd-overlay {
  top: 90px;
}
@media screen and (max-width: 767px) {
  .breaking-news + .cd-main-header + .cd-search {
    top: 90px;
  }
  .breaking-news + .cd-main-header + .cd-search + .cd-main-content {
    padding-top: 90px;
  }
  .ie .breaking-news + .cd-main-header + .cd-search + .cd-main-content + .cd-nav > .cd-primary-nav .cd-secondary-nav,
  .ie .breaking-news + .cd-main-header + .cd-search + .cd-main-content + .cd-nav > .cd-primary-nav .cd-tertiary-nav {
    top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .breaking-news + .cd-main-header + .cd-search {
    top: 90px;
  }
  .breaking-news + .cd-main-header + .cd-search + .cd-main-content {
    padding-top: 150px;
  }
}
.breaking-news.\--close {
  top: -30px;
}
.breaking-news.\--close + .cd-main-header,
.breaking-news.\--close + .cd-main-header + .cd-search + .cd-main-content + .cd-nav > .cd-primary-nav {
  top: 0;
}
@media screen and (max-width: 767px) {
  .breaking-news.\--close + .cd-main-header + .cd-search + .cd-main-content {
    padding-top: 60px;
  }
  .breaking-news.\--close + .cd-main-header + .cd-search + .cd-main-content + .cd-nav + .cd-overlay {
    top: 0;
  }
  .breaking-news.\--close + .cd-main-header + .cd-search + .cd-main-content + .cd-nav + .cd-overlay + .cd-search {
    top: 72px;
  }
}
@media screen and (min-width: 768px) {
  .breaking-news.\--close + .cd-main-header + .cd-search + .cd-main-content {
    padding-top: 132px;
    -webkit-transition: padding-top 0.3s linear;
    -moz-transition: padding-top 0.3s linear;
    -o-transition: padding-top 0.3s linear;
    transition: padding-top 0.3s linear;
  }
}
.breaking-news__header,
.breaking-news__scroller {
  height: 30px;
}
.breaking-news__header {
  color: #ffffff;
  background-color: #f6b300;
  width: 120px;
  padding: 6px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1400;
}
.breaking-news__icon {
  font-size: 10px;
  line-height: 1.9;
  vertical-align: middle;
}
.breaking-news__scroller {
  width: 100%;
  overflow: hidden;
  border: 1px solid #cfd6ef;
  position: relative;
  z-index: 1300;
}
.breaking-news__scroller:before,
.breaking-news__scroller:after {
  display: block;
  content: '';
  width: 20px;
  height: 30px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.breaking-news__scroller:before {
  left: 119px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDI1NSwgMjU1LCAyNTUpIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.breaking-news__scroller:after {
  right: 30px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigyNTUsIDI1NSwgMjU1KSIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.breaking-news__close {
  background-color: #ffffff;
  color: #cccccc;
  font-size: 17px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border-left: 1px solid #cfd6ef;
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.breaking-news__close:hover {
  color: #999999;
  background-color: #eaedf8;
}
.breaking-news__close:active {
  color: #ffffff;
  background-color: #2f4590;
}
.breaking-news__list {
  margin: 0;
  padding: 6px 0;
  height: 30px;
  min-width: 2050px;
  position: relative;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
}
.breaking-news__list .tickercontainer,
.breaking-news__list .tickercontainer .mask {
  height: 30px;
}
.breaking-news__list .webticker-init {
  display: inline-block;
  height: auto!important;
}
.breaking-news__items {
  display: none;
  padding-right: 8px;
  margin: 0 8px 0 0;
  font-weight: 700;
}
.breaking-news__items:last-child a:after {
  display: none;
}
.breaking-news__items a {
  position: relative;
  white-space: nowrap;
  color: #333333;
}
.breaking-news__items a:hover {
  color: #22336a;
  text-decoration: underline;
}
.breaking-news__items a:after {
  display: inline-block;
  content: '\2022';
  position: absolute;
  right: -13px;
}
.tab-head__wrap {
  background-color: #2f4590;
}
.tab-head__wrap .head__group {
  padding: 0 15px;
}
.tab-head__wrap .head.\--section,
.tab-head__wrap .head.\--more {
  color: #ffffff;
}
.tab-menu__wrap:before,
.tab-menu__wrap:after {
  display: table;
  content: " ";
}
.tab-menu__wrap:after {
  clear: both;
}
.tab-menu {
  display: block;
  float: left;
  width: 33.333333%;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
}
.tab-menu.active {
  color: #f6b300;
  border-bottom: 4px solid #f6b300;
}
.tab-content__wrap {
  background-color: #ffffff;
}
.button-size-normal {
  padding: 6px 15px;
}
.button-size-icon {
  padding: 6px 20px 6px 40px;
}
.button {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 6px 15px;
  -webkit-border-radius: 1000px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1000px;
  -moz-background-clip: padding;
  border-radius: 1000px;
  background-clip: padding-box;
}
.button:focus {
  outline: none;
  -webkit-appearance: none;
}
.button.\--solid-primary {
  border: 1px solid #2f4590;
  background-color: #2f4590;
  color: #ffffff;
}
.button.\--solid-primary:hover {
  border: 1px solid #4e61a1;
}
.button.\--solid-primary:focus,
.button.\--solid-primary:active,
.button.\--solid-primary.active {
  border: 1px solid #22336a;
}
.button.\--solid-primary:disabled,
.button.\--solid-primary.disabled {
  border: 1px solid #cccccc;
}
.button.\--solid-primary:hover {
  background-color: #4e61a1;
}
.button.\--solid-primary:focus,
.button.\--solid-primary:active,
.button.\--solid-primary.active {
  background-color: #22336a;
}
.button.\--solid-primary:disabled,
.button.\--solid-primary.disabled {
  background-color: #cccccc;
}
.button.\--solid-primary:hover,
.button.\--solid-primary:focus,
.button.\--solid-primary:active,
.button.\--solid-primary.active,
.button.\--solid-primary:disabled,
.button.\--solid-primary.disabled {
  color: #ffffff;
}
.button.\--outline-primary {
  border: 1px solid #2f4590;
  background-color: rgba(255, 255, 255, 0);
  color: #2f4590;
}
.button.\--outline-primary:hover {
  border: 1px solid #596aa6;
}
.button.\--outline-primary:focus,
.button.\--outline-primary:active,
.button.\--outline-primary.active {
  border: 1px solid #2f4590;
}
.button.\--outline-primary:disabled,
.button.\--outline-primary.disabled {
  border: 1px solid #bbbbbb;
}
.button.\--outline-primary:hover {
  background-color: rgba(255, 255, 255, 0);
}
.button.\--outline-primary:focus,
.button.\--outline-primary:active,
.button.\--outline-primary.active {
  background-color: #2f4590;
}
.button.\--outline-primary:disabled,
.button.\--outline-primary.disabled {
  background-color: #eeeeee;
}
.button.\--outline-primary:hover {
  color: #596aa6;
}
.button.\--outline-primary:focus,
.button.\--outline-primary:active,
.button.\--outline-primary.active {
  color: #ffffff;
}
.button.\--outline-primary:disabled,
.button.\--outline-primary.disabled {
  color: #bbbbbb;
}
.button.\--icon {
  padding: 6px 20px 6px 40px;
  position: relative;
  border: none;
}
.button.\--icon:before {
  position: absolute;
}
.button.\--expand {
  width: 100%;
}
.button.\--play {
  max-width: 490px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
}
.button.\--play:hover,
.button.\--play:focus,
.button.\--play:active,
.button.\--play.active,
.button.\--play:disabled,
.button.\--play.disabled {
  border: 2px solid #ffffff;
}
.button.\--play:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.button.\--play:focus,
.button.\--play:active,
.button.\--play.active {
  background-color: rgba(255, 255, 255, 0.5);
}
.button.\--play:disabled,
.button.\--play.disabled {
  background-color: extract(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), 4);
}
.button.\--play:hover {
  color: #ffffff;
}
.button.\--play:focus,
.button.\--play:active,
.button.\--play.active {
  color: rgba(47, 69, 144, 0.7);
}
.button.\--play:disabled,
.button.\--play.disabled {
  color: extract(#ffffff, #ffffff, rgba(47, 69, 144, 0.7), 4);
}
.button.\--play.js-play:before {
  content: "\f04c";
  display: inline-block;
  font-family: "FontAwesome", Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button.\--play:before {
  content: "\f144";
  display: inline-block;
  font-family: "FontAwesome", Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  top: 15px;
  left: 20px;
}
.button.\--facebook {
  border: 1px solid #3b579d;
  background-color: #3b579d;
  color: #ffffff;
}
.button.\--facebook:hover {
  border: 1px solid #496fad;
}
.button.\--facebook:focus,
.button.\--facebook:active,
.button.\--facebook.active {
  border: 1px solid #2d4a84;
}
.button.\--facebook:disabled,
.button.\--facebook.disabled {
  border: 1px solid #bcc0c4;
}
.button.\--facebook:hover {
  background-color: #496fad;
}
.button.\--facebook:focus,
.button.\--facebook:active,
.button.\--facebook.active {
  background-color: #2d4a84;
}
.button.\--facebook:disabled,
.button.\--facebook.disabled {
  background-color: #bcc0c4;
}
.button.\--facebook:hover,
.button.\--facebook:focus,
.button.\--facebook:active,
.button.\--facebook.active,
.button.\--facebook:disabled,
.button.\--facebook.disabled {
  color: #ffffff;
}
.button.\--twitter {
  border: 1px solid #33ccff;
  background-color: #33ccff;
  color: #ffffff;
}
.button.\--twitter:hover {
  border: 1px solid #54d8fc;
}
.button.\--twitter:focus,
.button.\--twitter:active,
.button.\--twitter.active {
  border: 1px solid #00bbed;
}
.button.\--twitter:disabled,
.button.\--twitter.disabled {
  border: 1px solid #bcc0c4;
}
.button.\--twitter:hover {
  background-color: #54d8fc;
}
.button.\--twitter:focus,
.button.\--twitter:active,
.button.\--twitter.active {
  background-color: #00bbed;
}
.button.\--twitter:disabled,
.button.\--twitter.disabled {
  background-color: #bcc0c4;
}
.button.\--twitter:hover,
.button.\--twitter:focus,
.button.\--twitter:active,
.button.\--twitter.active,
.button.\--twitter:disabled,
.button.\--twitter.disabled {
  color: #ffffff;
}
.button.\--googleplus {
  border: 1px solid #de4d38;
  background-color: #de4d38;
  color: #ffffff;
}
.button.\--googleplus:hover {
  border: 1px solid #f75b4b;
}
.button.\--googleplus:focus,
.button.\--googleplus:active,
.button.\--googleplus.active {
  border: 1px solid #ce3b2c;
}
.button.\--googleplus:disabled,
.button.\--googleplus.disabled {
  border: 1px solid #bcc0c4;
}
.button.\--googleplus:hover {
  background-color: #f75b4b;
}
.button.\--googleplus:focus,
.button.\--googleplus:active,
.button.\--googleplus.active {
  background-color: #ce3b2c;
}
.button.\--googleplus:disabled,
.button.\--googleplus.disabled {
  background-color: #bcc0c4;
}
.button.\--googleplus:hover,
.button.\--googleplus:focus,
.button.\--googleplus:active,
.button.\--googleplus.active,
.button.\--googleplus:disabled,
.button.\--googleplus.disabled {
  color: #ffffff;
}
.button.\--social .button__icon {
  font-size: 20px;
  margin-right: 5px;
}
select {
  display: none;
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select__wrap {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 260px;
  height: 34px;
}
.select__selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: #223266;
  padding: 6px 10px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select__selected:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.select__selected:focus,
.select__selected:active,
.select__selected.active {
  background-color: rgba(255, 255, 255, 0.5);
}
.select__selected:disabled,
.select__selected.disabled {
  background-color: extract(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), 4);
}
.select__selected:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 16px;
  right: 10px;
  border: 5px solid transparent;
  border-color: #223266 transparent transparent transparent;
}
.select__selected:active:after,
.select__selected.active:after {
  top: 9px;
  border-color: transparent transparent #223266 transparent;
}
.select__selected:active + .select__options,
.select__selected.active + .select__options {
  border-color: #223266 transparent transparent transparent;
}
.select__options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: -1px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.select__option {
  margin: 0;
  padding: 8px 10px;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select__option:hover {
  color: #ffffff;
  background: #223266;
}
.select__option[rel="hide"] {
  display: none;
}
.i-footer .select__options {
  top: auto;
  bottom: 100%;
  -webkit-box-shadow: 0 0 3px rgba(34, 50, 102, 0.5);
  -moz-box-shadow: 0 0 3px rgba(34, 50, 102, 0.5);
  box-shadow: 0 0 3px rgba(34, 50, 102, 0.5);
  background-color: #e6e9f2;
  color: #223266;
}
.select.\--outline-primary .select__wrap {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: #404041;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
}
.select.\--outline-primary .select__selected {
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  padding: 6px 10px;
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  transition: initial;
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
  color: #666666;
}
.select.\--outline-primary .select__selected:hover {
  border: 1px solid #2f4590;
}
.select.\--outline-primary .select__selected:focus,
.select.\--outline-primary .select__selected:active,
.select.\--outline-primary .select__selected.active {
  border: 1px solid #2f4590;
}
.select.\--outline-primary .select__selected:disabled,
.select.\--outline-primary .select__selected.disabled {
  border: 1px solid #bbbbbb;
}
.select.\--outline-primary .select__selected:hover {
  background-color: #ffffff;
}
.select.\--outline-primary .select__selected:focus,
.select.\--outline-primary .select__selected:active,
.select.\--outline-primary .select__selected.active {
  background-color: #ffffff;
}
.select.\--outline-primary .select__selected:disabled,
.select.\--outline-primary .select__selected.disabled {
  background-color: #eeeeee;
}
.select.\--outline-primary .select__selected:hover {
  color: #666666;
}
.select.\--outline-primary .select__selected:focus,
.select.\--outline-primary .select__selected:active,
.select.\--outline-primary .select__selected.active {
  color: #666666;
}
.select.\--outline-primary .select__selected:disabled,
.select.\--outline-primary .select__selected.disabled {
  color: #bbbbbb;
}
.select.\--outline-primary .select__selected.active,
.select.\--outline-primary .select__selected:active {
  -webkit-border-radius: 8px 8px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px 8px 0 0;
  -moz-background-clip: padding;
  border-radius: 8px 8px 0 0;
  background-clip: padding-box;
}
.select.\--outline-primary .select__selected.active:after,
.select.\--outline-primary .select__selected:active:after {
  top: 10px;
}
.select.\--outline-primary .select__selected:after {
  top: 14px;
}
.select.\--outline-primary .select__selected + .select__options {
  border-left: 1px solid #2f4590;
  border-right: 1px solid #2f4590;
  border-bottom: 1px solid #2f4590;
}
.select.\--outline-primary .select__options {
  background-color: #ffffff;
  -webkit-border-radius: 0 0 8px 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 8px 8px;
  -moz-background-clip: padding;
  border-radius: 0 0 8px 8px;
  background-clip: padding-box;
}
.select.\--outline-primary .select__option {
  padding: 6px 10px;
}
.select.\--outline-primary .select__option:hover {
  background: #2f4590;
  color: #ffffff;
}
.select.\--outline-primary .select__option:last-child:hover {
  -webkit-border-radius: 0 0 8px 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 8px 8px;
  -moz-background-clip: padding;
  border-radius: 0 0 8px 8px;
  background-clip: padding-box;
}
.hilight__container {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hilight__container.\--lastestnews {
    background: none;
    padding: 0;
  }
}
.hilight__section {
  background-color: #ffffff;
  padding: 5px 0;
}
.hilight__section .image__group {
  width: 100%;
}
.hilight__section .content__wrap {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .hilight__section {
    margin: 0 0 0 15px;
  }
}
@media screen and (min-width: 930px) {
  .hilight__section .image__group {
    padding-right: 0;
    width: 310px;
    float: left;
  }
  .hilight__section .content__group {
    padding: 0;
    float: left;
    width: 343px;
    -lh-property: 0;
width:-webkit-calc(100% - 310px);
width:-moz-calc(100% - 310px);
width:calc(100% - 310px);
;
    height: 176px;
  }
  .hilight__section .content__group .content.\--hilight-detail {
    margin: 0 0 10px;
    height: 59px;
    overflow: hidden;
  }
}
.hilight__block {
  margin-left: -15px;
  margin-right: -15px;
}
.hilight__block:before,
.hilight__block:after {
  display: table;
  content: " ";
}
.hilight__block:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .hilight__block {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 789px) {
  .hilight__block .head.\--section {
    height: 70px;
  }
}
.article__group {
  border-top: 1px solid #cccccc;
  margin-bottom: 10px;
}
.article__list {
  padding-bottom: 10px;
  padding-top: 10px;
}
.article__list:before,
.article__list:after {
  display: table;
  content: " ";
}
.article__list:after {
  clear: both;
}
.article__list.\--divided {
  border-bottom: 1px solid #cccccc;
}
.article__image {
  width: 100px;
  height: 65px;
  margin-right: 10px;
  float: left;
}
.article__content {
  -lh-property: 0;
width:-webkit-calc(100% - 110px);
width:-moz-calc(100% - 110px);
width:calc(100% - 110px);
;
  float: left;
}
.article__content .content.\--headline {
  margin: 0 0 5px 0;
  max-height: 40px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .article__content .content.\--headline {
    margin: 5px 0;
  }
}
.article__content .content.\--date {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .activity__container {
    margin-top: 30px;
  }
}
.activity__section .i-image__wrap {
  position: relative;
}
.activity__section .caption__bg {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  margin: 0;
  overflow: hidden;
}
.activity__section .text__wrap--middle {
  display: table;
  height: 100%;
}
.activity__section .text--middle {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .tab__container {
    padding-right: 0 !important;
  }
}
.tab__section {
  height: 370px;
  margin-bottom: 0;
  background-color: #ffffff;
}
.breaking__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breaking__item {
  padding: 5px 0;
  border-bottom: 1px solid #cccccc;
}
.breaking__item:before,
.breaking__item:after {
  display: table;
  content: " ";
}
.breaking__item:after {
  clear: both;
}
.breaking__time {
  font-family: Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #2f4590;
  padding: 0 15px;
  width: 80px;
  display: block;
  float: left;
}
.breaking__link {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
  color: #404041;
  display: block;
  float: left;
  padding-right: 15px;
  -lh-property: 0;
width:-webkit-calc(100% - 80px);
width:-moz-calc(100% - 80px);
width:calc(100% - 80px);
;
}
.breaking__link:hover,
.breaking__link:active,
.breaking__link:focus {
  color: #2f4590;
}
.radio__container {
  background-color: #7886b7;
}
.radio__header {
  padding: 20px 0;
  width: 285px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.radio__main {
  padding-bottom: 20px;
}
.radio__logo {
  display: inline-block;
  margin-right: 15px;
  margin-top: -50px;
  -webkit-animation: blinker 3.5s linear infinite;
  -moz-animation: blinker 3.5s linear infinite;
  -o-animation: blinker 3.5s linear infinite;
  animation: blinker 3.5s linear infinite;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .radio__logo {
    margin-top: 0;
  }
}
.radio__head {
  display: inline-block;
}
.radio__h1 {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: capitalize;
}
.radio__h2 {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}
.radio__text {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}
.prevclip__container {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  overflow: hidden;
  max-width: 490px;
  margin: 0 auto;
}
.prevclip__head {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2f4590;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  background-color: #fef9ec;
}
.prevclip__wrap {
  list-style: none none outside;
  padding: 0;
  margin: 0;
  height: 280px;
}
.prevclip__item {
  padding: 7px 0;
  background-color: #fef9ec;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.prevclip__item--1 {
  background-color: #fac75a;
}
.prevclip__item--2 {
  background-color: #facd6e;
}
.prevclip__item--3 {
  background-color: #fbd481;
}
.prevclip__item--4 {
  background-color: #fcdb95;
}
.prevclip__item--5 {
  background-color: #fce2a9;
}
.prevclip__item--6 {
  background-color: #fde8bd;
}
.prevclip__item--7 {
  background-color: #fdefd0;
}
.prevclip__item--8 {
  background-color: #fef6e4;
}
.prevclip__item:hover {
  background-color: #2f4590;
}
.prevclip__item:hover .prevclip__icon {
  color: #ffffff;
}
.prevclip__item:hover .prevclip__text {
  color: #ffffff;
}
.prevclip__icon {
  display: inline-block;
  color: #2f4590;
  margin: 0 10px 0 20px;
}
.prevclip__text {
  display: inline-block;
  color: #000000;
}
#radio-page .radioplayer__container {
  padding-top: 30px;
  height: 459px;
  background: #405497 url(../images/bg-radio.jpg) no-repeat center bottom;
}
@media screen and (min-width: 768px) {
  #radio-page .radioplayer__container {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  #radio-page .radioplayer__wrap {
    padding-left: 15px;
  }
}
#radio-page .radio__logo {
  margin-top: 0;
  margin-bottom: 15px;
}
#radio-page .radio__img {
  margin-bottom: 15px;
}
#radio-page .radio__h1 {
  font-size: 22px;
}
#radio-page .radio__h2 {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3px;
}
@media screen and (min-width: 768px) {
  #radio-page .radio__h2 {
    font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
#radio-page #audio_controlbar .jwbackground,
#radio-page #audio_controlbar .jwcapLeft {
  background: none;
  display: none;
}
#radio-page #audio {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  margin-top: 15px;
}
#radio-page #audio .jwvolumeH {
  width: 259px;
}
#radio-page #audio .jwprogressOverflow {
  overflow: visible;
  opacity: 1 !important;
}
@media screen and (min-width: 768px) {
  #radio-page #audio .jwvolumeH {
    width: 269px;
  }
}
#radio-page .prevclip__container {
  margin-bottom: 20px;
}
.static-section {
  padding: 5px 15px;
}
.executive-list {
  list-style: none none outside;
  padding: 0;
  margin: 0;
}
.executive-list strong {
  display: block;
}
.executive-list span {
  display: block;
  text-indent: 15px;
  margin: 5px 0;
}
.executive-list .executive-sub-list {
  list-style: disc outside;
}
.executive-list .executive-sub-list strong {
  font-weight: 400;
}
.send-button {
  width: 80px;
}
.archive__wrap {
  margin-bottom: 15px;
}
.archive__wrap:before,
.archive__wrap:after {
  display: table;
  content: " ";
}
.archive__wrap:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .archive__share {
    float: right;
    margin-top: -95px;
  }
}
.share-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  padding: 4px 7px;
  background-color: #a5a5a5;
  text-align: center;
  position: relative;
  top: -3px;
}
.share-icon i {
  color: #ffffff;
}
.share-value {
  position: relative;
  top: -3px;
}
.tooltipster-content {
  min-width: 220px;
}
.pagination-wrap {
  width: 250px;
  margin: 0 auto;
  padding: 0;
  list-style: none none outside;
}
.pagination-wrap li {
  display: inline-block;
  margin-right: 5px;
}
.pagination-wrap a {
  font-size: 16px;
  color: #cccccc;
  margin-right: 5px;
}
.pagination-wrap a:hover,
.pagination-wrap a:active,
.pagination-wrap a:focus {
  text-decoration: none;
  color: #2f4590;
}
