.button-typo(@font-size: 13px) {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size: @font-size;
}

.button-size-normal {
  padding: 6px 15px;
}
.button-size-icon {
  padding: 6px 20px 6px 40px;
}

.component(button {
  .button-typo;
  .button-size-normal;
  .round;
  &:focus {
    outline: none;
    -webkit-appearance: none;
  }

  .option(solid-primary{
    .input-style(@button-solid-primary-theme; @white; @button-solid-primary-theme);
  });
  
  .option(icon {
    padding: 6px 20px 6px 40px;
    position: relative;
    border: none;
    &:before {
      position: absolute;
    }
  });
  .option(expand{
    width: 100%;
  });

  .option(play {
    display: block;
    width: 100%;
    max-width: 490px; 
    padding: 12px 20px 12px 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: @gap-row;
    .button-outline(@button-radio-bg-theme; @button-radio-color-theme; rgba(255, 255, 255, 0.5); 2px);
    .font-kanda(17px, 700);
    &.is-play {
      &:before {
        .icon-fontawesome("\f04c");
      }
    }
    &:before{
      .icon-fontawesome("\f144");
      font-size: 20px;
      top: 15px;
      left: 20px;
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  });
    // Share button
  .option(facebook {
    .input-style(@button-facebook-bg-color-theme, @white, @button-facebook-bg-color-theme);
  });
  .option(twitter {
    .input-style(@button-twitter-bg-color-theme, @white, @button-twitter-bg-color-theme);
  });
  .option(googleplus {
    .input-style(@button-googleplus-bg-color-theme, @white, @button-googleplus-bg-color-theme);
  });

  .option(social {
    .button__icon {
      font-size: 20px;
      margin-right: 5px;
    }
  });

});
