input, textarea, button, select {
  outline: none;
  &:focus {
    outline: none;
  }
}
video {
  width: 100%    !important;
  height: auto   !important;
}
// Form
// ---------------------------------------

.label-wrap {
  display: block;
  width: 26%;
  float: left;
}
.input-wrap {
  display: block;
  width: 74%;
  float: left;
}
.button-wrap {
  display: block;
  padding-left: 26%;
}

// Placeholder
// ---------------------------------------
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
   color: @grey;  
}

// Search
// ---------------------------------------
      
input[type=search] {
  .appearance(textfield);
  .box-sizing(content-box);
  font-family: inherit;
  font-size: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


// Input
// ---------------------------------------
.input-text-height(){
  @height: 34px; 
  @padding-vertical: 4px; 
  @padding-horizontal: 10px
}

.input-font {
  font-family: 'psl_kanda', Arial, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: @color-font-content;
}

.text__label {
  .input-text-height();
  padding: @padding-vertical @padding-horizontal;
  line-height: @height - (@padding-vertical * 2);
  font-size: 13px;
  margin-bottom: 0;
}

// Theme
.theme-input-primary {
  .input-style(@input-primary-bg-theme, @input-primary-color-theme, @input-primary-border-theme);
}

.input-border-primary {
  .radius;
  .input-style(@input-primary-bg-theme, @input-primary-color-theme, @input-primary-border-theme);
  .input-font;
}

.component(input{
  display: inline-block;
  position: relative;
  .box-shadow(none);
  .part(text{
    .input-text-height();
    height: @height;
    width: 100%;
  });
  .part(textarea {
    height: 80px;
    width: 100%;
  });

  .option(primary{
    .input-text-height();
    padding: @padding-vertical @padding-horizontal;
    margin: 0;
    &:extend(.input-border-primary);
  });
});

// Breakingnews
@set-height-box-breakingnews            :                 30px;   
@color-breaking-news                    :                 rgb(246, 179, 0);
@box-size-logo                          :                 120px;
@size-gradient                          :                 20px;

.tickercontainer {
  width: 100%;
  max-width: 1000px;
}

  .component(breaking-news {
    position: relative;
    height: 30px;
    margin-top: 0;
    .transition(margin-top .5s);
    @media screen and (min-width: @screen-sm-min){
      height: 60px;
    }

    //When close breaking-news
    .option(close{
      margin-top: -30px; 
      @media screen and (min-width: @screen-sm-min){
        margin-top: -45px; 
      }
    });

    .part(section{
      .font-kanda(@font-size: 13px; @font-weight: normal; @letter-spacing: 0.05em);
      .transition(transform 0.5s linear);
      position: absolute;
      width: 100%;
      &:before{
        background-color: @white;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0; 
        width:100%;
        height: @set-height-box-breakingnews;
        z-index: -1;
      }
      @media screen and (min-width: @screen-sm-min){
        margin: 15px 0;
      }
    });
    //Element
    .part(header {
      height: @set-height-box-breakingnews;     
    });
    .part(header{
      color: @white;
      background-color: @color-breaking-news;
      width: @box-size-logo;
      padding: 6px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: @zindex-breakingnews-head;
    });
    .part(icon{
      font-size: 10px;
      line-height: 1.9;
      vertical-align: middle;      
    });
    .part(scroller{
      width: 100%;
      height: @set-height-box-breakingnews;     
      overflow: hidden;
      border: 1px solid @ultra-light-blue-3;
      position: relative;
      z-index: @zindex-breakingnews-list;
      &:before, &:after{    
        display: block;
        content: '';
        .size(@size-gradient, @set-height-box-breakingnews);
        position: absolute;
        top: 0;
        z-index: 1;
      }   
      &:before{       
        left: 119px;
        .background-image(linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%));
      }
      &:after{
        right: @set-height-box-breakingnews;    
        .background-image(linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%));
      }
    });
    .part(close{
      background-color: @white;
      color: @gray-light;
      font-size: 17px;      
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      border-left: 1px solid @ultra-light-blue-3;
      .size(@set-height-box-breakingnews);
      .transition(background-color 0.1s linear);
      &:hover{
        color: @gray-dark;
        background-color: @ultra-light-blue-5;
      }
      &:active{
        color: @white;
        background-color: @color-border-primary; 
      }
    });
    .part(list{
      margin: 0;
      padding: 6px 0;       
      height: @set-height-box-breakingnews;
      min-width: 2050px;
      position: relative;
      .transition(all 0 linear);
      .tickercontainer{
        &, & .mask{
          height: @set-height-box-breakingnews;
        }
      }
      & .webticker-init{
        display: inline-block;
        height: auto!important; //strick height for style inline
      }
    });
    .part(items{
      @adjust-divided : 8px;
      display: none; //Hide first 
      padding-right: @adjust-divided;
      margin: 0 @adjust-divided 0 0;
      font-weight: 700;
      .newsticker & {
        display: inline-block;
      }
      &:last-child{
        a{
          &:after{
            display: none;
          }
        }
      } 
      a{
        position: relative;
        white-space: nowrap;
        color: @gray-darkest;
        &:hover{
          color: @dark-blue;
          text-decoration: underline;
        }
        &:after{
          display: inline-block;
          content: '\2022';
          position: absolute;
          right: -13px;
        }
      }     
    });
  });

// Tab
.tab-head__wrap {
  background-color: @brand-primary;
  .head__group {
    padding: 0 15px;
  }
  .head.\--section, .head.\--more {
    color: @white;
  }
}

.tab-menu__wrap {
  .clearfix();
}
  .tab-menu {
    display: block;
    float: left;
    width: 33.333333%;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
    color: @white;
    &.active {
      font-weight: 700;
      color: @brand-hilight;
      border-bottom: 4px solid @brand-hilight;
    }
  }
    
.tab-content__wrap {
  background-color: @white;
} 

@import "button";
@import "select";