// layout
.clearfix{
	&:before, &:after {
		display: table;
    content: " ";
	}
	&:after {
		clear: both;
	}
}
.gap(bottom);
.gap-row-top {
  margin-top: 30px;
}
.gap-row-bottom, .grb {
  margin-bottom: 30px;
}
.gap-row-vert {
	margin-top: 30px;
	margin-bottom: 30px;
}
.gap-inner-top {
  margin-top: 10px;
}
.gap-inner-bottom {
  margin-bottom: 10px;
}
.gap-md-bottom {
	margin-bottom: 20px;
}
.gib {
	margin-bottom: 15px;
}
.gap-sm-bottom {
	margin-bottom: 5px;
}
.rel {
	position: relative;
}

// Blink animation
.keyframes(~'blinker,0% { opacity: 1; } 5% { opacity: 0; } 10% { opacity: 1; } 15% { opacity: 0; } 20% { opacity: 1; } 100% { opacity: 1; }');

.inline-block {
	display: inline-block;
}

.no-list-style {
	list-style: none none outside;
	padding: 0;
	margin: 0;
}

// border
.round {
  .border-radius(1000px);
}
.radius {
	.border-radius(8px);
}
.border-section {
	border-top: 4px solid @brand-primary;
	display: block;
	padding-top: 15px;
}
.bordered-block {
	border: 2px solid @gray-lighter;
	padding: 5px;
	@media screen and (min-width: @screen-sm-min){
	 	border: 2px solid @white;
	}
	@media screen and (min-width: @screen-md-min){
		padding: 3px;
	}
}
.sd {
	border-bottom: 1px solid @gray-light;
}
// background
.bg-brand {
	background-color: @brand-primary;
}
.bg-primary {
	background-color: @dark-blue;
}
.bg-secondary {
	background-color: @ultra-light-blue-5;
}
.bg-light {
	background-color: @white;
}

// Slider
.slider-change-bullet-color {
	.lSSlideOuter .lSPager.lSpg>li {
		a {
			background-color: @slider-bullet;
		}
		&.active a, &:hover a {
			background-color: @slider-bullet-active;
		}
	}
}

@import "nav";
@import "layout";
@import "typography";