#nation-nav-theme {
	.cd-main-header {
		background: @brand-primary;
		//position: fixed;
	  width: 100%;
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: 999;

		&.nav-is-visible .cd-logo {
			display: none;
		}
		@media screen and (min-width: 768px){
			height: 120px;
			padding: 0;
		}
	}

	.cd-header-buttons {
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    right: 0;
    height: 1px;
	}
	.cd-nav-trigger {
		position: absolute;
		left: 15px;
		width: 35px;
		span {
			&, &::before, &::after {
					background: @white;
			}
		}
		&.nav-is-visible span {
			background: rgba(255,255,255,0);
		}
	}

	.cd-nav-trigger, .cd-search-trigger {
		height: 55px;
	}

	.cd-primary-nav {
		background: @dark-blue;
		// .box-shadow(1px 6px 5px rgba(0,0,0,0.24));
		padding: 0;
		@media screen and (min-width: 768px) {
			position: relative;
			background: @blue-light;
			left: 0;
			float: none;
			margin-left: 120px;
			height: 120px;
			z-index: @zindex-menu-item-sm; 
		}
	}

	// menu shrink
	.btn__play {
		.transform(translateX(60px));
		.transition(transform 1s ease-in);
		display: none;
		position: relative;
		top: -3px;
		padding: 15px 17px;
		color: @white;
		background-color: @dark-blue;
		font-size: 30px;
	}

	&.shrink {
		.btn__play { 
			.transform(translateX(0px));
			display: block; 
		}
		@media screen and (min-width: 768px) {
			.btn__play{
				display: none;
			}
		}
	}

	.component(logo{
		.part(container{
			.option(topbar{
				display: block;
				width: 50px;
				height: 50px;
				left: 60px;
				top: 50%;
				margin-top: -25px;
				background: url(../images/logo-nation-radio-small.png) no-repeat center/contain;
				@media screen and (min-width: 768px){
					width: 85px;
					height: 100px;
					margin: 0 15px;
					left: 0;
					top: 0;
					background: url(../images/logo-nation-radio-large.png) no-repeat center/contain;
				}
			});
			.option(sidebar{
				width: 100%;
				height: 170px;
				padding: 33px 0;
				background: @brand-primary;
			});
		});
		.option(sidebar{
			display: inline-block;
			width: 80px;
		});
	});

	.component(menu{
		.part(item{
			@media screen and (min-width: 768px) {
				margin-left: 10px;
			}
			@media screen and (min-width: 900px) {
				margin-left: 25px;
			}
		});
		.part(link{
			color: @color-font-normal;
			border-bottom: 1px solid @brand-primary;	
			.font-kanda(14px, 700);	
			&:hover {
				text-decoration: none;
				color: @white;
			}
			@media screen and (min-width: 768px) {
				color: @color-font-nav;
				border-bottom: none;
			  letter-spacing: 1px;
			  height: 60px;
			  line-height: normal;
			  margin-top: 60px;
			  padding: 16px 10px;
			  &:hover, &:active, &:visited, &:focus {
			  	font-weight: 700;
			  	color: @dark-blue;
			  	text-decoration: none;
			  }
 			}
		});
		.part(text{
			.font-kanda(14px);
			color: @white;

			.option(date{
				position: absolute;
				top: 15px;
				right: 20px;
			});
		});
	});
	
	@search-width : 213px;
	@search-offset-right: 20px;
	.search-xs-container {
		position: fixed;
	}
	.search-sm-container {
		position: absolute;
		@media screen and (min-width: 768px) {
			top: 68px;
			left: 130px;
			right: @search-offset-right - 5;
			width: auto;
			max-width: 880px;
			height: 37px;
		}		
	}

	.search__input{
		@media screen and (min-width: 768px) {
			width: 100%;
			padding: 6px 40px 6px 20px;
			.font-kanda(14px);
			.round;
			border: none;
			.box-sizing(border-box);
			// .transform(translateX(@search-width + @search-offset-right));
			.opacity(0);
			.transition(opacity .4s cubic-bezier(0.000, 0.795, 0.000, 1.000));
			&:focus {
				.transform(translateX(0));
			}
			position: relative;
			z-index: @zindex-search-input-sm-hidden;
		}
	}

	.search-icon {	
		&:before {
			border-color: lighten(@blue-medium, 30%);
			top: 15px;
		}
		&:after {
			background: lighten(@blue-medium, 30%);
			bottom: 21px;
		}
		&:hover:before {
			border-color: darken(@blue-medium, 10%);
		}
		&:hover:after {
			background: darken(@blue-medium, 10%);
		}
		span {
			&:before, &:after {
				background: @white;
			}
		}
		@media screen and (min-width: 768px) {
			position: absolute;
  		top: -10px;
  		right: 0px;
  		z-index: @zindex-search-icon-sm;

			span {
				&::before, &::after {
					background: @blue-medium;
				}
			}
		}
	}
		.search-xs-icon {
			margin-top: 3px;
		}
		.search-is-visible + .search__input {
			.opacity(1);
			z-index: @zindex-search-input-sm-visible;
		} 

	.component(social{
		.part(wrap{
			text-align: center;
			@media screen and (min-width: 768px){
				text-align: left;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				margin-left: 0;
				padding: 0 20px;
				background-color: @dark-blue;
				&:before {
					content: "Follow Us : ";
					.font-kanda(14px);
					color: @white;
					position: relative;
					top: -5px;
				}
			}
		});
		.part(icon{
			display: inline-block;
			font-size: 25px;
			padding: 0 5px 0 0;
			color: @color-icon-social;
			&:hover {
				color: @white;
			}
			@media screen and (min-width: 768px){
				height: auto;
				line-height: 1;
				padding: 12px 0 12px 5px;
			}
		});
	});
	.cd-overlay{
		background: none;
	}
}

.shrink {
	.cd-main-header {
		position: fixed;
	}
	
	.main__container {
		padding-top: 60px;
		@media screen and (min-width: 768px){
			padding-top: 120px;
		}
	}
}
